    <%= form_with url: question_answer_path, method: :patch do |f| %>
      <li>
        <%= f.label :body %>
        <%= f.text_area :body %>
        <%= f.hidden_field : %>
        <%= f.submit '回答を更新' %>
      </li>
    <% end %>